*.iml
.gradle/
/.gradle/
/.build/
/.idea/
/app/build/*
/local.properties

.DS_Store
/captures
.externalNativeBuild
.cxx

/app/release/
/data_api/build/
/common/data-base/build/
/common/data-models/build/
/common/data-network/build/
/common/data-store/build/
/common/domain/build/
